<div class="container-fluid">
	<div class="row text-center">
		<h5>Çalışan Adayı Aydınlatma Formunu indirmek için <a href="/calisan-adayi-aydinlatma-metni-pdf">tıklayınız</a></h5>
		<hr>
	</div>
	<div class="row">
		<div class="col-lg-2 col-md-1"></div>
		<div class="col-lg-8 col-md-10 text-center">
			<p>İş başvuru formunu gönderdiğinizde çalışan adayı başvuru formunu okumuş ve kabul etmiş sayılırsınız</p>
		</div>
		<div class="col-lg-2 col-md-1"></div>
	</div>
</div>