<div class="container-fluid">
	<div class="row pb-5">
		<div class="col-lg-2 col-md-1"></div>
		<div class="col-lg-8 col-md-10">
			<h3>Danışmanlık Sektörü</h3>

			<hr>
		</div>
		<div class="col-lg-2 col-md-1"></div>
	</div>
	<div class="row pb-5">
		<div class="col-lg-2 col-md-1"></div>
		<div class="col-lg-8 col-md-10">
			<h4 class="pb-3">OGM Stratejik Çözümler A.Ş.</h4>

			<p>
				OGM Stratejik Çözümler A.Ş. 2015 yılında proje finansmanı ve öncelikli olarak Avrupa Birliği projeleri alanında hizmet vermek amacıyla Ankara’da kurulmuştur. Avrupa Birliği ve Kalkınma Ajansları tarafından desteklenen hibe projelerinin Proje Döngüsü Yönetimi (Project Cycle Management – PCM) yöntemiyle hazırlanması ve uygulanmasında danışmanlık ile proje değerlendirme raporlarının yanı sıra, PCM eğitimlerinin verilmesi ve yabancı firma ve kuruluşlara yerel ihtiyaçlarının karşılanmasında destek olunması OGM Stratejik Çözümler A.Ş.’nin çalışma alanları arasındadır.
			</p>
			<p>
				OGM Stratejik Çözümler A.Ş., ayrıca TÜBİTAK tarafından her ölçekten sanayi kuruluşuna, üniversitelere, belediyelere, diğer kamu kurumlarına ve bağımsız araştırmacılara Ar-Ge çalışmalarına yönelmelerini ve karşılıklı işbirlikleri geliştirmelerini teşvik etmek amacıyla yürütülen programlar kapsamında çeşitli projeler için sağlanan ulusal ve uluslararası desteklere ulaşılması ve bu desteklerin doğru kullanılması için danışmanlık hizmeti vermektedir.
			</p>
		</div>
		<div class="col-lg-2 col-md-1"></div>
	</div>
	<div class="row">
		<div class="col-lg-2 col-md-1"></div>
		<div class="col-lg-8 col-md-10">
			<h4 class="pb-3">Health Turks</h4>

			<p>
				Health Turks, Türkiye’de tedavi olmak isteyen kişilere rehberlik eden bir sağlık turizmi firmasıdır. Farklı ülkelerden ülkemize gelen hastaların alanında en iyi uzman doktorlara ve sağlık kuruluşuna ulaşmalarına yardımcı olarak, birinci sınıf teknoloji ile donatılmış tesislerde güçlü eğitim ve sağlam deneyime sahip sağlık personeli tarafından güvenilir, kaliteli ve hızlı tedavi hizmeti almalarını sağlar. Health Turks misafirlerine ayrıca uçak bileti, havaalanı ve şehir içi transferleri, konaklama ve turistik aktivite organizasyonu hizmeti de vermektedir.
			</p>
		</div>
		<div class="col-lg-2 col-md-1"></div>
	</div>
</div>