<div class="container-fluid">
	<div class="row pb-4">
		<div class="col-lg-2 col-md-1"></div>
		<div class="col-lg-8 col-md-10">
			<h3>Enerji Sektörü</h3>
		</div>
		<div class="col-lg-2 col-md-1"></div>
		<hr>
	</div>
	<div class="row pb-4">
		<div class="col-lg-2 col-md-1"></div>
		<div class="col-lg-8 col-md-10">
			<p>
				Torek Enerji Üretim A.Ş. 2010 yılında kurulmuştur. Ankara ili, Mamak ilçesinde Söğütlükaya (Posof III) HES 21.01.2012 tarihinde yatırımı tamamlanarak işletmeye alınmıştır.
			</p>
		</div>
		<div class="col-lg-2 col-md-1"></div>
	</div>
	<div class="row">
		<div class="col-lg-2 col-md-1"></div>
		<div class="col-lg-8 col-md-10">
			<p>
				Torek İnşaat, nükleer enerji sektöründe önemli bir oyuncu olmak için çalışmalarına hız verdi. Şirket, nükleer enerji sektörüne yönelik çalışmalarını öncelikli kılarak, 2018 yılından beri yeni nesil nükleer tesislerin geliştirilmesinde, mevcut tesislerin bakım ve onarımında, nükleer santrallerin üretim, istihdam ve hizmetlerinde önemli bir rol oynamayı amaçlıyor. Torek İnşaat, ülkemizin nükleer enerji sektörüne katkıda bulunmak için yüksek teknoloji ürünleri üreten, geliştirme ve yatırım yapan bir şirket. Şirket, ülkemizin enerji talebini karşılamak için nükleer santrallerin kurulmasını destekleyen, çevresel etkiyi minimize eden ve güvenli santraller inşa eden projelere yoğunlaşıyor. Torek İnşaat, ulusal ve uluslararası nükleer enerji çözümleri üretmek için çok yönlü çalışmalar yürütüyor. Şirket, kalite ve güvenliğin her zaman üst seviyede tutulduğu projeler inşa etmek için uzman ekipleriyle çalışmayı öncelikli kılıyor. Buna ek olarak Torek İnşaat Yurtdışı projeleri ile de ülkemize döviz girmesine katkı sağlıyor. Torek İnşaat, nükleer enerji sektöründe yeniliklerin önünü açmak, sektöre katkıda bulunmak ve çevreye duyarlı çözümler üretmek için çalışmalarını sürdürüyor.
			</p>
		</div>
		<div class="col-lg-2 col-md-1"></div>
	</div>
</div>