<div class="container-fluid">
	<div class="row">
		<h3 class="text-center pb-3">Faaliyet Raporu ve Şirket Misyonu</h3>
		<hr>
	</div>
	<div class="row">
		<div class="col-lg-3 mb-5">
			<h4 class="text-center pb-4">Faaliyet raporunu indirmek için tıkayınız</h4>
			<hr>
			<div class="list-group text-center">
			 	<a href="/faaliyet-raporu-pdf/2023" type="button" class="list-group-item list-group-item-action active">
			    	2023 Yılı faaliyet Raporu
			  	</a>
			  	<a href="/faaliyet-raporu-pdf/2022" type="button" class="list-group-item list-group-item-action">2022 Yılı faaliyet Raporu</a>
			  	<a href="/faaliyet-raporu-pdf/2021" type="button" class="list-group-item list-group-item-action">2021 Yılı faaliyet Raporu</a>
			  	<a href="/faaliyet-raporu-pdf/2020" type="button" class="list-group-item list-group-item-action">2020 Yılı faaliyet Raporu</a>
			  	<a href="/faaliyet-raporu-pdf/2019" type="button" class="list-group-item list-group-item-action">2019 Yılı faaliyet Raporu</a>
			</div>
		</div>
		<div class="col-lg-9">
			<p>
				Torek İnşaat, inşaat, enerji, turizm ve danışmanlık alanlarında kaliteli hizmetler sunmak için kurulmuştur. Şirket, inşaat sektöründe öncü bir konuma sahip olmak için çalışmalarını sürdürmektedir. Bu rapor, Torek İnşaat tarafından gerçekleştirilen çalışmaların detaylı bir incelemesini içermektedir.
			</p>
			<p>
				Torek İnşaat, yıllardır inşaat alanında çeşitli projeler gerçekleştirmiştir. Örneğin, 2017 yılında, şirket tarafından İstanbul'da yüksek kaliteli bir apartman projesi gerçekleştirilmiştir. Proje, modern mimari ve güvenlik önlemleriyle ön plana çıkmıştır. 2018 yılında, Torek İnşaat tarafından Adana'da bir havaalanı projesi gerçekleştirilmiştir. Proje, zamanında tamamlanmış ve son derece yüksek kaliteli çalışmalarla teslim edilmiştir. 2019 yılında, Torek İnşaat, Ankara'da bir hastane projesi gerçekleştirmiştir. Proje, sağlık alanında çağdaş teknolojilerin kullanımıyla tamamlanmıştır. 2020 yılında, Torek İnşaat tarafından Konya'da bir okul projesi gerçekleştirilmiştir. Proje, eğitim alanında çağdaş eğitim teknolojileri ile tamamlanmıştır.
			</p>
			<p>
				Torek İnşaat, enerji alanında da çeşitli projeler gerçekleştirmiştir. Örneğin, 2017 yılında, şirket tarafından İstanbul'da bir güneş enerjisi santrali projesi gerçekleştirilmiştir. Proje, güneş enerjisi kullanımının yaygınlaşmasına katkıda bulunmuştur. 2018 yılında, Torek İnşaat tarafından Adana'da bir jeotermal enerji santrali projesi gerçekleştirilmiştir. Proje, jeotermal enerji kullanımının yaygınlaşmasına katkıda bulunmuştur. 2019 yılında, Torek İnşaat, Ankara'da bir rüzgar enerjisi santrali projesi gerçekleştirmiştir. Proje, rüzgar enerjisi kullanımının yaygınlaşmasına katkıda bulunmuştur. 2020 yılında, Torek İnşaat tarafından Konya'da bir hidroelektrik santrali projesi gerçekleştirilmiştir. Proje, hidroelektrik enerji kullanımının yaygınlaşmasına katkıda bulunmuştur.
			</p>
			<p>
				Torek İnşaat, turizm alanında da çeşitli projeler gerçekleştirmiştir. Örneğin, 2017 yılında, şirket tarafından İstanbul'da bir otel projesi gerçekleştirilmiştir. Proje, otel sektöründe yüksek kaliteli hizmetler sunmak için tasarlanmıştır. 2018 yılında, Torek İnşaat tarafından Adana'da bir tatil köyü projesi gerçekleştirilmiştir. Proje, tatil sektöründe yüksek kaliteli hizmetler sunmak için tasarlanmıştır. 2019 yılında, Torek İnşaat, Ankara'da bir kongre merkezi projesi gerçekleştirmiştir. Proje, kongre sektöründe yüksek kaliteli hizmetler sunmak için tasarlanmıştır. 2020 yılında, Torek İnşaat tarafından Konya'da bir kültür merkezi projesi gerçekleştirilmiştir. Proje, kültür sektöründe yüksek kaliteli hizmetler sunmak için tasarlanmıştır.
			</p>
			<p>
				Torek İnşaat, danışmanlık alanında da çeşitli projeler gerçekleştirmiştir. Örneğin, 2017 yılında, şirket tarafından İstanbul'da bir enerji verimliliği danışmanlığı projesi gerçekleştirilmiştir. Proje, enerji verimliliğini artırmak için öneriler sunmuştur. 2018 yılında, Torek İnşaat tarafından Adana'da bir yatırım danışmanlığı projesi gerçekleştirilmiştir. Proje, yatırım yapmak isteyen
			</p>
		</div>
	</div>
</div>