<%= stylesheet_link_tag "_navbar", media:"all", "data-turbo-track": "reload" %>
<div class="container-fluid">
	<div class="row">
		<h4 class="text-center pb-2">Şirket Tanıtımı</h4>
		<hr>
	</div>
	<div class="row">
		<div class="col-lg-5 mb-3">
			<div class="infocard-wrapper text-center">
				<p>
					<abbr title="Torek İnşaat Ana Merkezi">
						<%= image_tag("torek-plaza.jpeg",class:"img-thumbnail",alt:"Torek inşaat ana merkezi")%>
					</abbr>
				</p>
			</div>
		</div>
		<div class="col-lg-7">
			<p>
				Torek İnşaat, ülkenin en büyük ve en güvenilir inşaat firmalarından biri olarak, tüm inşaat ve restorasyon projelerindeki işlerini başarıyla bitirmek için kurulmuştur. Sertifikalı ve sertifikalı teknik personel aracılığıyla projelerine odaklanan Torek İnşaat, tüm şehirlerde çeşitli tipte ve büyüklükteki binaların inşaatından sorumludur. Bu binalar; toplu konutlar, alışveriş merkezleri, hastaneler, okullar, büro binası, evler ve iş yerleri gibi sayısız çeşittir.
			</p>
			<p>
				Torek İnşaat, 2000 yılından beri aralıksız çalışmalarını sürdürmektedir bu güne kadar. Bu çalışmalar sırasında, her projeyi tamamlamak için ihtiyaç duyulan malzemelerin sağlanması için uğraşılmış, mühendislik standartlarına ve kalitelere uyulmuş, işlerin bitirilmesi mümkün olmuştur. Firma, her projede tüm süreçlerin kaliteli bir şekilde sonuçlandırılmasını sağlamak için yoğun çabalar sarfediyor.
			</p>
			<p>
				Torek İnşaat, projelerine olağanüstü kalite ölçümleri uygulayarak çalışıyor ve tamamlanan projelerin mümkün olduğunca zamanına uygun bitmesini sağlıyor. Projenin büyüklüğüne, ada binasının yerine, ne tür malzemelerin kullanılacağına, teknik personelin yeterliliğine, atık malzemelerin temizliğine ve projenin genel çalışma şartlarına göre çeşitli standartlar tanımlanmıştır.
			</p>
			<p>
				Torek İnşaat, projelerinin her birini sonuna kadar güvenilir ve tamamen profesyonel olarak tamamlamayı taahhüt ediyor. Bunu başarmak için, işler kapsamlı çalışma planlarının yanı sıra, performans standartlarının karşılanması, spesifikasyonların kabul edilmesi, ne tür malzemeler kullanılacağının ve kalite ölçümlerinin seçiminin yanı sıra, atıkların yoğun takip ve temizlik çalışmalarının uygulanmasını öneriyor.
			</p>
			<p>
				Torek İnşaat, çalışkan ve profesyonel arkadaşları tarafından desteklenmektedir. Her biri alanlarında uzmanlık sahibi olan bu ekip, teknik ve mühendislik eğitimlerini almış, kurallara uygunluk ve kaliteden ödün vermeyen profesyonellerden oluşuyor. Firma da bu anlamda, bütün personele katlanılır bir ücret sunmaktadır.
			</p>
			<p>
				Torek İnşaat, mayıs 1998'den beri faaliyet göstermektedir. Bu süre içinde, inancımız olan kalite, profesyonellik, takip, güvenilirlik ve özveriyi temsil ediyoruz. Biz bu konularda hiçbir karşılık beklemeden; karşılıksız taahhütleri, etkin çalışma planlarını üstleniyoruz. Bu süre içinde, başarılı örnek kamu ve özel projelerimizi tamamladık.
			</p>
		</div>
	</div>
</div>