<div class="container-fluid">
	<div class="row">
		<div class="col-lg-2 col-md-1"></div>
		<div class="col-lg-8 col-md-10">
			<h3>İnşaat Sektörü</h3>
		</div>
		<div class="col-lg-2 col-md-1"></div>
		<hr>
	</div>
	<div class="row pb-4">
		<div class="col-lg-2 col-md-1"></div>
		<div class="col-lg-8 col-md-10">
			<h4>Torek İnşaat Sanayi ve Ticaret A.Ş.</h4>

			<p>
				1998 yılındaki kuruluşundan bu yana inşaat sektöründe faaliyet gösteren firmamız, yurtiçi ve yurtdışında birçok alt ve üst yapı inşaatını başarıyla tamamlamıştır. Tamamlanan işlerimiz arasında konut, spor tesisi, sosyal tesis, idari ve askeri bina, otel ve ofis inşaatları, baraj, liman, otoyol, su temin ve dağıtım şebekeleri, atık su tesisleri, havaalanı pist ve apron yapımı gibi projeler yer almaktadır.
			</p>
			<p>
				Uluslararası inşaat sektörünün en tanınmış yayını olan Mac-Graw Hill Enginnering News Record dergisinin “En Büyük Uluslararası Müteahhit Firmalar” listesinde son 5 yıldır yer almayı başaran Yenigün, kurulduğu ilk günden bu yana ödün vermeden uygulamaya devam ettiği güvenilirlik, kalite ve insan kaynaklarına yatırım prensipleri ile büyümeye devam etmekten gurur duymaktadır.
			</p>
		</div>
		<div class="col-lg-2 col-md-1"></div>
	</div>
	<div class="row pb-4">
		<div class="col-lg-2 col-md-1"></div>
		<div class="col-lg-8 col-md-10">
			<h4>Sator İnşaat Ticaret ve Sanayi A.Ş.</h4>

			<p>
				Özellikle baraj inşaatı konusunda uzman olan Sator İnşaat 2004 yılında kurulmuştur. 2000 tarihinde Yenigün Grup tarafından devralınan şirket, yeniden yapılanma sürecine girerek faaliyetlerine başarılı bir şekilde devam etmiştir. Torek Grup’un prensipleri ve stratejik öncelikleri doğrultusunda ilerlemeye devam eden Sator İnşaat, baraj ve HES inşaatlarında olduğu kadar, su yapıları, havaalanları ve konut inşaatlarında da başarılı çalışmalar gerçekleştirmiştir.
			</p>
		</div>
		<div class="col-lg-2 col-md-1"></div>
	</div>
	<div class="row">
		<div class="col-lg-2 col-md-1"></div>
		<div class="col-lg-8 col-md-10">
			<h4>Torek Polska</h4>

			<p>
				İşviçre'de kurulmuş bir limited şirkettir. Şirketin %80 hissesi Torek İnşaat’a aittir. NATO üyesi olan Orta Avrupa ülkelerinin NATO ile ilgili altyapı projelerinde yer alma amacıyla kurulmuştur. Şirket ayrıca iş merkezi, otel, konut vb. üst yapı projelerini de yüklenici olarak gerçekleştirmektedir.
			</p>
		</div>
		<div class="col-lg-2 col-md-1"></div>
	</div>
</div>