<%= stylesheet_link_tag "organizasyon", media:"all", "data-turbo-track": "reload" %>
<div class="container-fluid">
	<div class="row">
		<h2 class="text-center" style="color:rgb(0,150,255)">Organizasyon</h2>
		<hr>
	</div>
	<div class="row pt-5">
		<div class="col-lg-3 col-md-3"></div>
		<div class="col-lg-6 col-md-6">
			<table class="table table-striped">
				<thead>
	    			<tr>
	      				<th scope="col">Ünvan</th>
	      				<th scope="col">Ad-Soyad</th>
	    			</tr>
	  			</thead>
			  	<tbody>
			    	<tr>
			      		<td>Genel Müdür</td>
			      		<td>Tuncay Dinler</td>
			    	</tr>
			    	<tr>
			      		<td>Genel Müdür Yardımcısı</td>
			      		<td>Murat Taşkıran</td>
			    	</tr>
			    	<tr>
			      		<td>Genel Müdür Yardımcısı</td>
			      		<td>Kaan Özalkan</td>
			    	</tr>
			    	<tr>
			    		<td>Grup Müdürü(İhale)</td>
			    		<td>Ayşe Kalkan</td>
			    	</tr>
			    	<tr>
			    		<td>Proje Kontrol Müdürü</td>
			    		<td>Merve Kırmızı</td>
			    	</tr>
			    	<tr>
			    		<td>Sözleşmeler Müdürü</td>
			    		<td>Berat Nesin</td>
			    	</tr>
			    	<tr>
			    		<td>İnsan Kaynakları Müdürü</td>
			    		<td>Nurdan Boz</td>
			    	</tr>
			    	<tr>
			    		<td>İç Denetim Müdürü</td>
			    		<td>Yasemin Akmut</td>
			    	</tr>
			    	<tr>
			    		<td>Finans Müdürü</td>
			    		<td>Ömer Çelikyol</td>
			    	</tr>
			    	<tr>
			    		<td>Grup Müdürü(İş Geliştirme)</td>
			    		<td>Uğur Akmut</td>
			    	</tr>
			  	</tbody>
			</table>
		</div>
		<div class="col-lg-3 col-md-3"></div>
	</div>
</div>