<%= stylesheet_link_tag "sosyal_sorumluluk", media:"all", "data-turbo-track": "reload" %>
<div class="container-fluid">
	<div class="row">
		<h3 class="text-center">Sosyal Sorumluluk</h3>
		<hr>
	</div>
	<div class="row">
		<div class="col-lg-3 col-md-3"></div>
		<div class="col-lg-6 col-md-6">
			<p class="bold-paragrapf pb-2">Torek Şirketler Topluluğu’nun Sosyal Sorumluluk Bilincinde Gerçekleştirdiği Faaliyetler</p>
			<p>
				Torek İnşaat, sosyal sorumluluk bilincinin önemini fark ediyor ve bunun bir şirketin iş yaptığı toplumların gelişimine katkısı olduğunu biliyor. Biz her zaman diğerleriyle işbirliği içerisinde çalışıyoruz ve bu şekilde kültürel ve sosyal değerleri geliştiriyoruz. Aynı zamanda, çevresel sorumluluk ve sürdürülebilirlik ilkeleri göz önüne alınarak, projelerimizi hayata geçiriyoruz.

				Torek İnşaat olarak, faydalı ve anlamlı işler yapmak için çalışıyor ve bu çalışmaların toplumun gelişimine katkıda bulunmasını sağlıyoruz. Şirket olarak, çevreye karşı duyarlı olmanın yanı sıra, çalışanlarının ve çevredeki insanların yaşam kalitesini artırmak için çaba gösteriyoruz. Bu konuda, projelerimizi etkin ve sürdürülebilir hale getirmek için, gerekli tüm çalışmaları yapıyoruz.

				Torek İnşaat olarak, sosyal sorumluluk ve çevresel sürdürülebilirlik için çalışmalarımızı sürdürüyoruz. Çalışanlarımızın sağlığını, iş güvenliğini ve eğitimlerini garanti altına alıyoruz. Aynı zamanda, faaliyetlerimizi çevresel etkileri minimize etmek ve çevreye saygı göstermek için sürekli olarak çalışıyoruz. Biz her zaman sosyal veya çevresel olarak duyarlı olmak için çalışıyoruz ve sosyal sorumluluk alanında projelerimizi başarıyla uyguluyoruz.
			</p>
		</div>
		<div class="col-lg-3 col-md-3"></div>
	</div>
</div>