<div class="container-fluid">
	<div class="row pb-4">
		<div class="col-lg-2 col-md-1"></div>
		<div class="col-lg-8 col-md-10">
			<h3>Turizm Sektörü</h3>
		</div>
		<div class="col-lg-2 col-md-1"></div>
		<hr>
	</div>
	<div class="row">
		<div class="col-lg-2 col-md-1"></div>
		<div class="col-lg-8 col-md-10">
			<h4>Devr-i Nohez Otel</h4>

			<p>
				Devr-i Nohez Otel “özel tesis” kategorisinde olup Torek ailesinin yıllardır konut olarak kullandığı 1.200 yıllık yapının restore edilip bir otele dönüştürülmesi ile hayat bulmuştur. Aslına uygun olarak ünlü Midyat taşı ile tarihi dokusu korunarak restore edilen ve çağdaş yaşamın her türlü konforunu barındıran Devr-i Nohez, konuklarına tarihin derinliklerini yaşatacak özelliklere sahip sıradışı bir yapıdır. Eski mimariden ödün vermeden restore edilen otelde, 23 adet standart iki kişilik oda, 2 adet tek kişilik oda, 3 adet üç kişilik oda ve 2 adet aile süiti olmak üzere toplam 30 oda bulunmaktadır.
			</p>
		</div>
		<div class="col-lg-2 col-md-1"></div>
	</div>
</div>