<% if @new_admin.errors.any? || flash[:error] %>
  <div id="error_explanation" data-turbo-cache="false">
    <h2>
      <%= I18n.t("errors.messages.not_saved",
                 count: @new_admin.errors.count,
                 resource: @new_admin.class.model_name.human.downcase)
       %>
    </h2>
    <ul>
      <% @new_admin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      <%= flash[:error]%>
    </ul>
  </div>
<% end %>
