@media screen and (min-width: 1199.98px and 991.98px) {
    .dropdown-with-hover:hover>.dropdown-menu-with-hover {
        display: block;

    }

    .dropdown-with-hover>.dropdown-toggle-with-hover:active {
        pointer-events: none;
    }
}

.dropdown-toggle:after {
    display: none;
}

.dropdown-item:hover {
    background: #ffe7b3;
}