<%= stylesheet_link_tag "_navbar", media:"all", "data-turbo-track": "reload" %>
<div class="container-flouid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark position-fixed-top fixed-top">
        <div class="container">
            <a href="/" class="navbar-brand">Logo</a>
            <!--a class="navbar-brand" href="#" style="padding: 4px;margin:auto"> <img src="" style="height:100%;width: auto;" title="mycompanylogo"></a-->
            <!-- Buraya logo eklenecek-->
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="true" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown dropdown-with-hover">
                        <a class="nav-link dropdown-toggle dropdown-toggle-with-hover text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Kurumsal
                        </a>
                        <div class="dropdown-menu dropdown-menu-with-hover" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/hakkimizda">Hakkimizda</a>
                            <a class="dropdown-item" href="/faaliyet-raporu">Faaliyet Raporu</a>
                            <a class="dropdown-item" href="/tarihce">Tarihçe</a>
                            <a class="dropdown-item" href="/yonetim-kurulu">Yönetim Kurulu</a>
                            <a class="dropdown-item" href="/organizasyon">Organizasyon</a>
                            <a class="dropdown-item" href="/sosyal-sorumluluk">Sosyal Sorumluluk</a>
                            <!--a class="dropdown-item" href="/gizlilik-sozlesmesi">Gizlilik Sözleşmesi</a-->
                        </div>
                    </li>
                    <li class="nav-item dropdown dropdown-with-hover">
                        <a class="nav-link dropdown-toggle dropdown-toggle-with-hover text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Projeler
                        </a>
                        <div class="dropdown-menu dropdown-menu-with-hover" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/devam-eden-projeler">Devam Eden Projeler</a>
                            <a class="dropdown-item" href="/tamamlanan-projeler">Tamamlanan Projeler</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown dropdown-with-hover">
                        <a class="nav-link dropdown-toggle dropdown-toggle-with-hover text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sektörler
                        </a>
                    <div class="dropdown-menu dropdown-menu-with-hover" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/insaat-sektoru">İnşaat</a>
                            <a class="dropdown-item" href="/enerji-sektoru">Enerji</a>
                            <a class="dropdown-item" href="/turizm-sektoru">Turizm</a>
                            <a class="dropdown-item" href="/danismanlik-sektoru">Danışmanlık</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown dropdown-with-hover">
                        <a class="nav-link dropdown-toggle dropdown-toggle-with-hover text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Haberler
                        </a>
                        <div class="dropdown-menu dropdown-menu-with-hover" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/bizden-haberler">Bizden Haberler</a>
                            <a class="dropdown-item" href="/basindan-haberler">Basından Haberler</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown dropdown-with-hover">
                        <a class="nav-link dropdown-toggle dropdown-toggle-with-hover text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            İnsan Kaynakları
                        </a>
                        <div class="dropdown-menu dropdown-menu-with-hover" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/is-basvuru-formu">İŞ BAŞVURU FORMU</a>
                            <a class="dropdown-item" href="/calisan-adayi-aydinlatma-metni">ÇALIŞAN ADAYI AYDINLATMA METNİ</a>
                        </div>
                    </li>
                </ul>
                <% unless admin_signed_in? %>
                    <%= link_to("Giriş yap",login_new_path,class:"btn btn-warning text-dark my-2 my-sm-0",type:"button")%>
                <% else %>
                    <%= link_to("Oturumu kapat",logout_path,:method => :delete,class:"btn btn-danger text-dark my-2 my-sm-0",type:"button",data: { turbo_method: :delete })%>
                <%end%>
                
            </div>
        </div>
    </nav>
</div>
<br><br><br><br><br>